Assignment3/DOMDemo/src/main/resources/Department.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://jw.nju.edu.cn/schema"
        xmlns:tns="http://jw.nju.edu.cn/schema"
        elementFormDefault="qualified">

    <element name="部门编号" type="tns:部门编号类型"></element>

    <simpleType name="部门编号类型">
        <restriction base="string">
            <length value="6"></length>
        </restriction>
    </simpleType>

    <element name="部门名称" type="string"></element>

    <element name="部门描述" type="string"></element>
</schema>